@model B2BProject.Models.Users

@{
    ViewBag.Title = "Admin Login";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="~/Content/Adminlogin.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <h1>Admin Login</h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="input-box">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Admin Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <i class='bx bxs-user-circle'></i>
            </div>

            <div class="input-box">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Admin Password", type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <i class='bx bxs-lock-alt'></i>
            </div>
            <br />
            <div class="remember-forgot">
                <label>
                    <input type="checkbox"> Remember me
                </label>
                <a href="#">Forgot password?</a>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Don't have an account? <a href="#">Register</a></p>
            </div>

            if (ViewBag.error != null)
            {
                <div class="text-danger">@ViewBag.error</div>
            }
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</body>

</html>
