@using B2BProject.Models
@model IEnumerable<Cart>

<html>
<head>
    <title>My Shopping Cart</title>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #ffffff;
        }

        .custom-heading {
            font-size: 36px;
            font-family: 'Georgia', 'Times New Roman', serif;
            font-weight: bold;
            color: #333;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
        }

        .custom-table {
            background-color: #D1C4E9;
            border: 5px solid #000;
            border-radius: 20px;
            width: 100%;
            text-align: center;
            overflow: hidden;
            margin-bottom: 20px;
            margin-top: 12px;
        }

            .custom-table th, .custom-table td {
                text-align: center;
                vertical-align: middle;
                padding: 10px;
                border: 1px solid #333;
            }

            .custom-table img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 75px; /* Küçültülmüş genişlik */
                height: 75px; /* Küçültülmüş yükseklik */
                object-fit: cover;
            }

        .btn-secondary {
            padding: 5px 10px; /* Butonun içindeki metnin etrafındaki boşlukları azalt */
            font-size: 12px; /* Butonun içindeki metnin boyutunu küçült */
        }

        .amount {
            font-size: 24px;
            line-height: 32px;
        }

        .total-price, .discounted-total {
            font-size: 20px;
            font-weight: bold;
        }

        .coupon-form {
            margin-bottom: 20px;
        }

            .coupon-form .form-control {
                display: inline-block;
                width: auto;
            }

        .order-buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }

            .order-buttons form {
                margin-left: 10px;
            }

        .pricing-table-container {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 20px;
        }

        .pricing-table {
            background-color: #D1C4E9;
            border: 5px solid #000;
            border-radius: 20px;
            width: 350px;
            overflow: hidden;
            margin-left: 20px;
        }

            .pricing-table th,
            .pricing-table td {
                padding: 10px;
                border: 1px solid #333;
                text-align: right;
            }

        .text-right {
            text-align: right;
        }

        .total-price,
        .discounted-total {
            font-weight: bold;
        }

        .total-price {
            background-color: #f9f9f9;
        }

        .discounted-total {
            background-color: #e9e9e9;
        }

        .price-value {
            font-weight: bold;
            font-size: 1.5em;
        }

        .discount-value {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <div class="container mt-5">
        <h2 class="custom-heading">My Shopping Cart</h2>
        <p>Customer Username: @Session["Email"]</p>

        <form id="couponForm" action="@Url.Action("ApplyCoupon", "Cart")" method="post" class="coupon-form form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="couponCode" class="sr-only">Coupon Code</label>
                <input type="text" id="couponCode" name="couponCode" class="form-control" placeholder="Enter your coupon code">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Apply Coupon</button>
        </form>

        <div class="d-flex">
            <table style="width:70%; float:left;" border="1" class="table table-bordered cart-table custom-table">
                <thead class="thead-light">
                    <tr>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Option</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            if (item != null && item.Products != null)
                            {
                                <tr>
                                    <td><img class="card-img-top" src="../@item.Products.Image" alt="@item.Products.Product_name"></td>
                                    <td><br />@(item.Products.Product_name ?? "No name")</td>
                                    <td><br />@item.Total ₺</td>
                                    <td>
                                        <br />
                                        <div style="display: flex; justify-content: center;">
                                            <form method="post" action="@Url.Action("ChangeAmount", "Cart")" style="display: inline-block;">
                                                @Html.Hidden("cartId", item.Cart_id)
                                                @Html.Hidden("productId", item.Products.Product_id)
                                                <input type="hidden" name="changeAmount" value="decrease" />
                                                <button type="submit" class="btn btn-secondary">-</button>
                                            </form>

                                            <span class="amount" style="margin: 0 10px;">@item.Quantity</span>

                                            <form method="post" action="@Url.Action("ChangeAmount", "Cart")" style="display: inline-block;">
                                                @Html.Hidden("cartId", item.Cart_id)
                                                @Html.Hidden("productId", item.Products.Product_id)
                                                <input type="hidden" name="changeAmount" value="increase" />
                                                <button type="submit" class="btn btn-secondary">+</button>
                                            </form>
                                        </div>
                                    </td>
                                    <td><br />@item.Options</td>
                                    <td>
                                        <br />
                                        @using (Html.BeginForm("RemoveFromOrderCart", "Cart", FormMethod.Post))
                                        {
                                            @Html.Hidden("cartId", item.Cart_id)
                                            <button type="submit" class="btn btn-danger">Remove</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No items in the cart.</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="pricing-table-container">
                <table class="pricing-table">
                    <tfoot>
                        <!-- Toplam fiyat -->
                        <tr>
                            <th colspan="5" class="text-right total-price">Total Price:</th>
                            <td class="price-value">@ViewBag.TotalPrice₺</td>
                        </tr>
                        <!-- İndirimli toplam fiyat -->
                        <tr>
                            <th colspan="5" class="text-right discounted-total">Discounted Total:</th>
                            <td class="price-value">@TempData["DiscountedAmount"]₺ </td>
                        </tr>
                        <!-- Kargo ücreti -->
                        <tr>
                            <th colspan="5" class="text-right total-price">Shipping Fee:</th>
                            <td class="price-value">@ViewBag.ShippingFee₺</td>
                        </tr>
                        <!-- Grand toplam -->
                        <tr>
                            <th colspan="5" class="text-right total-price">Grand Total:</th>
                            <td class="price-value">
                                @if (TempData["DiscountedAmount"] != null)
                                {
                                    // İndirim tutarı varsa grand totalden çıkar ve yeni fiyatı yaz
                                    var discountedAmount = (decimal)TempData["DiscountedAmount"];
                                    var grandTotal = ViewBag.GrandTotal;
                                    if (grandTotal != null)
                                    {
                                        var newGrandTotal = grandTotal - discountedAmount;
                                        @newGrandTotal
                                    }
                                }
                                else
                                {
                                    @ViewBag.GrandTotal
                                }
                                ₺
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <br />
        <div class="d">
            <button type="button" class="btn btn-warning" style="margin-left:965px; font-size:18px; width:120px; height:40px" data-toggle="modal" data-target="#orderModal">Buy Now</button>
            <br />
            <form action="@Url.Action("Index", "Home")">
                <button type="submit" class="btn btn-info" style="font-size:18px; width:200px; height:40px">Continue Shopping</button>
            </form>
        </div>
    </div>

    <!-- Order Modal -->
    <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderModalLabel">Order Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="@Url.Action("BuyNow", "Orders")">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address" required>
                        </div>
                        <div class="form-group">
                            <label for="creditCardNumber">Credit Card Number</label>
                            <input type="text" class="form-control" id="creditCardNumber" name="creditCardNumber" required>
                        </div>
                        <div class="form-group">
                            <label for="expirationDate">Expiration Date</label>
                            <input type="text" class="form-control" id="expirationDate" name="expirationDate" required>
                        </div>
                        <div class="form-group">
                            <label for="cvv">CVV</label>
                            <input type="text" class="form-control" id="cvv" name="cvv" required>
                        </div>
                        <div class="form-group">
                            <label for="grandTotal">Grand Total</label>
                            <input type="text" class="form-control" id="grandTotal" name="grandTotal" value=" @if (TempData["DiscountedAmount"] != null)
 {

     var discountedAmount = (decimal)TempData["DiscountedAmount"];
     var grandTotal = ViewBag.GrandTotal;
     if (grandTotal != null)
     {
         var newGrandTotal = grandTotal - discountedAmount;
         @newGrandTotal
     }
 }
 else
 {
     @ViewBag.GrandTotal
 }
 ₺" readonly>
                        </div>
                        <button type="submit" class="btn btn-primary">Order Complete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
